{% load staticfiles %}
<!DOCTYPE html>
<html>
<head><title>My 1'st web app</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="{% static 'css/blog1.css' %}">
<link href="https://fonts.googleapis.com/css?family=Cinzel|Days+One" rel="stylesheet"> 
</head>
<body>
<div class="auth"><a href="" class="btn1">JOIN NOW!</a></div>

	<div class="header"><h1>MY 1 WEB APP</h1></div>

<ul>
	<li>
	 	<a href="blog_posts" class="btn">BLOG</a>
	</li>

	<li>
		<a href="about" class="btn">ABOUT</a>
	</li>

	<li>
		<a href="" class="btn">GALLERY</a>
	</li>
</ul>


</body>
</html>