body {
	background: url("http://img1.joyreactor.cc/pics/post/full/%D0%9D%D0%BE%D1%87%D0%BD%D0%BE%D0%B9-%D0%B3%D0%BE%D1%80%D0%BE%D0%B4-%D0%BA%D1%80%D0%B0%D1%81%D0%B8%D0%B2%D0%BE-alone-520929.jpeg") no-repeat left top;
	background-size: cover;
}
.header {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 130px;
  width: 20%;
}
h1 {
  color: #FFF;
  font-family: 'Days One', sans-serif;
  font-size: 72px;
  line-height: 60px;
  padding: 20px 10px;
  text-align: center;
}

.btn {
  background-color: #14213D;
  color: #FFF;

  font-size: 20px;
  padding: 12px;
  background-color:rgba(0, 0, 0, 0.7);
}
.btn:hover {
	color:black;
	background-color:rgba(255, 255, 255, 0.3);
}
ul {
	top:240px;
	position: relative;
	text-align: center;
}
li {
	display: inline-block;

	width: 33%;
}
.auth {
	position:absolute;
	right:10px;
	top:10px;
}
.btn1 {
  background-color: #14213D;
  color: #FFF;

  font-size: 15px;
  padding: 12px;
  background-color:rgba(0, 0, 0, 0.7);
}
.btn1:hover {
	color:black;
	background-color:rgba(255, 255, 255, 0.3);
}